.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--secondary-background-color);
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2.5rem 2.5rem;
  flex: 1;
}

.title {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 2rem;
  text-align: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

.illustrationContainer {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

.illustration {
  width: 100%;
  height: auto;
}

.description {
  text-align: center;
  color: #666;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.buttonContainer {
  margin-top: 1rem;
}
