.breadcrumb {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  color: #777;
  font-size: 0.9rem;
}

.item {
  text-decoration: none;
  color: #777;
  transition: color 0.2s;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.item:hover {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
  font-weight: 500;
}

.separator {
  margin: 0 0.5rem;
  color: #999;
}

.homeIcon {
  margin-right: 0.25rem;
}
