.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  width: 100%;
  background-color: var(--secondary-background-color);
}

.logoContainer {
  display: flex;
  align-items: center;
  margin: 1.5rem;
}

.iconContainer {
  display: flex;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.iconButton:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}
